sudo: false
dist: trusty
language: node_js
node_js:
  - node

cache:
  directories:
    - node_modules

branches:
  except:
    - gh-pages
    - fixture
    - /^fixture-tag[0-9]+$/

notifications:
  email:
    on_success: change
    on_failure: always

stages:
  - Unit Tests
  - name: Deployment
    if: branch = master

jobs:
  include:

    - stage: Unit Tests
      before_install:
        - gpg --import spec/fixtures/public_key.asc
        - npm install -g codecov
      script:
        - npm run lint
        - npm run lintspec
        - npm run coverage
      after_script:
        - codecov

    - stage: Deployment
      env:
        - secure: ULETW4f6OZubsKtKDTkItLOoboY6SAKdm/u71bTUUNO3Q8HUnvfP0I443vOLr0No6QZ53FvG4O+gaV967XwYqp/xtjVh8KXo3yiOS3mkaQVZl3Ot7rszBrhE6CB36zjR50009KZ8WERK0dW4Ri7m2CLw5m1UA2IB2pzQDnY+SYtZ++OTWCRDZLhHHUKng3ibvHkT77StqHuJdBzKhzLOQaGezLLlM4c7qjmK4PmswsdvbPegn6yrYNq3fIA9Z2cfa04IK9YZHI1e2omb8AVXQ1basvVsaHbVDTfLwTuVY5vXc/MpvEhCehH8Zv/gMjct187StC/BtvSgdQCoLlNKdW3pGphz+A+V8Pz9XyZAZsOpKwDKf4Lhn2iGn7KQWIocZXcNi9rHH9v+9954hC3UIYmp4Ia0rK27t3izGyL+nFXRwRWXk+VQrl/6lOZvuScDfwIs1yztGrOKVU3Ta2iFWF0K3aXucSiVLjYchQbnp3JwA1Xh9FTMfmow4iXMtdnmMv0/ELHkBI3P8tAFQ4rCPfG2JVzknfE/3kuxwBDHD5suJSiMIwTLaSgpn7XP4ITbNirhSH7062BB/HMGpJB/94y7fTBRA32UPPIBA8AzEz4RCKcrLL/D1ZeSVoS0l6YIuYc4+Rt6XeGbsMVKfuMpXzpqdw33UYUudY5F3zmhfbI=
        - secure: bhreGabkPAPYDdH6jHGBciTK81fgRBLm8wLUHOhV169C8bgRJh6NjfOYybSR7lMRMohc8VIZQRYMcl+Id32i84OjWTA9hn+DJrWW/LS+tbJ44JE9qLbiIFWM7XrXDJm4A9TOEEIGpVfYMB1GWLfjE7MQZDcv0Jp8lzR9Xk63EreZ0NiaEmUl7I1YDBlqcO0WJXLhAj8c4St9b0hMaJv/HYVg3fIuyhpfFz+0ackdCZTaPqyeF6Kv7Zoycc1aHjDknGNXhloL8uL2H30of0hzYe1I/+USda4J2lRO7M/p0aby6ses/e2hmBHHtYjtLGNvXxwmBWY370GctgnJEjOpqFCoWOqfQmsTA9VMpf9cVb+CMqu73O2FZMYTqEKxINmIwXoqoN+9eKbCyzI1f3OVZcZggIepECqxuU0IVtNcHDnHxaiur5QzNZx4Iu1iJXtJVJ2eLydYDYz5BVpzYhtdrqfEhnh8AD1kP6e6qrHNDqlyKTW1YWnk5NacVU1LvFHJr1VByDO9CMZEKFq9yr+sjyoT/r0lhy2Xal7IDYw4GaMo2OGlm/yYtTeeqRIioGSwbv1ZIcqAES0vNAaRZ6x7Mr9b5LnQ3xjoU39j+ulhzYPN5dRZz2noSu3c2xNcXeA+OJsJmlrRSInC1oxZKzmhP8Jnj03g+hq6WTFduhDy31M=
      script:
        - npm run deploy
